<!doctype HTML>

<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="Frontend/styles/homepage-style.css">
      <link rel="stylesheet" type="text/css" href="Frontend/styles/slideshow-style.css">
      <script src="https://kit.fontawesome.com/427d4b7555.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <header>
        <div class="slideshow-container">
          <div class="mySlides fade" style="background-image: url('Frontend/images/slideshow/firstslide.jpg');">
          </div>

          <div class="mySlides fade" style="background-image: url('Frontend/images/slideshow/secondslide.jpg');">
          </div>

          <div class="mySlides fade" style="background-image: url('Frontend/images/slideshow/thirdslide.jpg');">
          </div>

        </div>
      </header>
      <nav id="main-navigation">
        <ul>
          <li><a href="index.php">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#"><i class="far fa-user"></a></i>
        </ul>
      </nav>
  </body>


</html>

<script type="text/javascript" src="Frontend/scripts/slideshow.js"></script>
